<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AddCustomCode</id>
<name>添加自定义代码</name>
<url>http://zblog.555d.cn/</url>
<note>可以在网站头部和底部添加自定义的代码</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>五弟</name>
  <email>274092999@qq.com</email>
  <url>http://zblog.555d.cn/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0.0</version>
<pubdate>2023-04-22</pubdate>
<modified>2023-04-22</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>